@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Parkinsans:wght@300..800&display=swap');
:root {
  --background-color: linear-gradient(#ebf5f9, #f0f2f9);
  --text-color: #171717;
  --form-background: #ffffff;
  --button-background: #3e9d8f;
  --button-hover: #6fcdbe;
  --link-color: #3e9d8f;
  --link-hover: #6fcdbe;
  --error-color: #ff9c98;
  --session-background: #0a0a0a;
  --session-text-color: #7c7a80;
  --accent-color: #3c8aa8;
  --alt-accent-color: #ffa19d;
  --alt-accent-secondary-color: #ffcec9;
  --alt-accent-color-light: #fec7c1;
  --light-color: #ffffff;
  --profile-background-color: #3c8aa8;
}

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

a{
  text-decoration: none;
  color: inherit;
}

html {
  font-family: 'Parkinsans', sans-serif;
}

button{
  cursor: pointer;
}

body {
  margin: 0;
  background: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
  padding: 20px;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

img{
  object-fit: cover;
}



#form-errors {
  list-style: none;
  margin: 0;
  padding: 0;
  color: var(--error-color);
}

#auth-header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  max-width: 50rem;
  margin: auto;
}

#auth-header p {
  font-size: 1.25rem;
}

#auth-header button{
    background-color: var(--alt-accent-color);
    border: none;
    color: var(--light-color);
    border-radius: 100%;
    padding: 12px 12px 10px 14px;

}

#auth-header button:hover{
  background-color: var(--alt-accent-color-light);
}

main {
  max-width: 50rem;
  margin: 2rem auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

