@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

html {
  font-family: 'Poppins', sans-serif;
}

:root {
  --background-color: linear-gradient(#fefefe, #f0f2f9);
  --text-color: #171717;
  --form-background: #ffffff;
  --button-background: #4255b1;
  --button-hover: #354699;
  --link-color: #4255b1;
  --link-hover: #354699;
  --error-color: #a21d4c;
  --session-background: #0a0a0a;
  --session-text-color: #7c7a80;
}

body {
  margin: 0;
  background: var(--background-color);
  color: var(--text-color);
  min-height: 100vh;
}

h1 {
  font-size: 2rem;
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#auth-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap:1rem;
  width: 90%;
  max-width: 30rem;
  border-radius: 1rem;
  padding: 2rem 3rem;
  margin: 5rem auto;
  background-color: var(--form-background);
  box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.4);
}

#auth-form img {
  display: block;
  width: 10rem;
  height: 10rem;
  margin: auto;
  filter: drop-shadow(0 0 6px rgba(30, 30, 32, 0.3));
}

#auth-form label {
  display: block;
  margin-bottom: 0.15rem;
  font-weight: bold;
  color: #46454a;
  width: 100%;
}

#auth-form p {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#auth-form input {
  font: inherit;
  width: 100%;
  padding: 0.5rem;
  border-radius:0.75rem;
  border: 2px solid #f0f0f0;
  background-color: #ffffff;
  color: #46454a;
}

#auth-form button {
  width: 100%;
  max-width: 200px;
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: var(--button-background);
  color: #fff;
  border-radius: 0.75rem;
  margin-top: 1rem;
}

#auth-form button:hover,
#auth-form button:active {
  background-color: var(--button-hover);
}

#auth-form a {
  color: var(--link-color);
  text-decoration: none;
  display: block;
  text-align: center;
}

#auth-form a:hover {
  color: var(--link-hover);
}

#form-errors {
  list-style: none;
  margin: 0;
  padding: 0;
  color: var(--error-color);
}

#auth-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 50rem;
  margin: 2rem auto;
}

#auth-header p {
  font-size: 1.25rem;
}

#auth-header button {
  font: inherit;
  cursor: pointer;
  padding: 0.5rem 1.5rem;
  border: none;
  background-color: #6f34a9;
  color: #fff;
  border-radius: 3px;
}

#auth-header button:hover,
#auth-header button:active {
  background-color: #5f2a8a;
}

main {
  max-width: 50rem;
  margin: 2rem auto;
}

#training-sessions {
  max-width: 40rem;
  margin: 2rem auto;
  list-style: none;
  padding: 0;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(10rem, 1fr));
}

#training-sessions li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem 0;
  border-radius: 4px;
  background-color: var(--session-background);
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
}

#training-sessions li img {
  width: 100%;
}

#training-sessions li h2 {
  margin: 1rem 0 0 0;
  padding: 0 1rem;
  color: #d0cfd6;
  font-size: 1rem;
  text-transform: uppercase;
}

#training-sessions li div {
  text-align: center;
}

#training-sessions li p {
  margin: 1rem;
  color: var(--session-text-color);
}