.container{
  min-height: 80vh;
  justify-content: center;
  align-items: center;
}

.title{
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: 600;
}

.list {
  max-width: 50rem;
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  align-items: center;

}

.list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
}

.image-container{
  width: 10rem;
  height: 10rem;
  position: relative;
  margin: auto;
  background-color: var(--alt-accent-secondary-color);
  border-radius: 100%;
}

.image {
  width: 100%;
  border-radius: 100%;
  transition: filter 300ms ease;
  transition: opacity 300ms ease;
}

.image:hover {
  transform: scale(1.02);
  transition: transform 300ms ease;
}

.transparent{
  opacity: 0.2;
}

.image-edit{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--alt-accent-color);
  pointer-events: none;
}

.name{
  padding: 0.5rem 1rem;
  color: var(--accent-color);
  font-size: 1.3rem;
  font-weight: 500;

}

.link {
  text-align: center;
}

.add-button {
  background-color: var(--alt-accent-secondary-color);
  width: 10rem;
  height: 10rem;
  border: none;
  color: var(--alt-accent-color);
  border-radius: 100%;
}

.add-button:hover {
  transform: scale(1.02);
  transition: transform 500ms ease;
}

.button-wrapper {
  margin-top: 1rem;
}

.button {
  width: 100%;
  max-width: 300px;
  font: inherit;
  cursor: pointer;
  padding: 0.75rem 1.5rem;
  border: none;
  background-color: var(--button-background);
  color: #fff;
  border-radius: 0.75rem;
  display:flex;
  align-items:center;
  gap:0.5rem;
  transition: background-color 500ms ease;
}

.button:hover,
.button:active {
  background-color: var(--button-hover);
}

